[Unit]
Description=OneDrive (rclone)
AssertPathIsDirectory=%h/OneDrive
After=network.target

[Service]
Type=simple

ExecStart=/usr/bin/rclone --vfs-cache-mode writes mount OneDrive: OneDrive

# Lazy umount
ExecStop=/usr/bin/fusermount -zu %h/OneDrive

Restart=on-failure
RestartSec=15

[Install]
WantedBy=default.target
